<ion-header>
  <ion-toolbar color='primary'>
      <ion-buttons  (click)="closeModal()" slot="start">
          <ion-back-button defaultHref="news"></ion-back-button>
        </ion-buttons>
    <ion-title style="color: white">Completed TODO'S</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

    <ion-grid>
        <ion-row >
          <ion-col fixed='true' size='6' class="gridrowpadding" *ngFor="let item of properties| async">
              <div *ngIf="(item.completeStatus==true)"  >

              
                  <ion-grid >
                    <ion-row >
                      <ion-col class="gridrowpadding" fixed=true size='4'>
                          <ion-icon style="zoom: 3;" name="{{item.iconlabel}}"></ion-icon>
                      </ion-col>
                      <ion-col fixed='true' class="gridrowpadding" size='8'>
                        <ion-grid >
                          <ion-row>
                            <ion-col size="12">
                                <ion-text >
                                    <p style="margin-top: 0; margin-bottom: 0; font-weight: bold">{{item.itemName}}</p>
                                  </ion-text>
                            </ion-col>
                          </ion-row>
                          <ion-row>
                              <ion-col size="12">
                                  <ion-text >
                                      <p style="margin-top: 0;margin-bottom: 0; color: rgb(70, 70, 70)">{{item.description}}</p>
                                    </ion-text>
                              </ion-col>
                            </ion-row>
                               
                           
                            <ion-row text-left>
                                <!-- <ion-col class="gridrowpadding" size="4">
                                    <button ion-button icon-only class="iconbutton" (click)='Edit(item)'>
                                        <ion-icon  name="create"></ion-icon>
                                      </button>
                                </ion-col>
                                <ion-col class="gridrowpadding" size='4'>
                                    <button ion-button icon-only class="iconbutton" (click)='Delete(item.key)'>
                                        <ion-icon  name="close"></ion-icon>
                                      </button>
                                </ion-col> -->
                                <ion-col size='4' text-left>
                                    <button ion-button icon-only class="iconbutton" >
                                        <ion-checkbox (ionChange)='complete(item ,$event)' checked='{{item.completeStatus}}'  style="--border-color: black; --size:20px"></ion-checkbox>
                                    </button>
                                  
                                </ion-col>
                              </ion-row>
                        </ion-grid>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                  
                </div>
          </ion-col>
        </ion-row>
      </ion-grid>



</ion-content>
